/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


$font-primary: 'Poppins',Arial, sans-serif;
$primary: #2f89fc;

body{
	font-family: $font-primary;
	font-size: 14px;
	line-height: 1.8;
	font-weight: normal;
	background: #fff;
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
button {
	transition: .3s all ease;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: $font-primary;
}


.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}
//HEADING SECTION
.heading-section{
	font-size: 28px;
	small{
		font-size: 18px;
	}
}

//COVER BG
.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}



//SIDEBAR
.wrapper {
  width: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #00264d;
  color: #fff;
  transition: all 0.3s;
  position: relative;
  
  &.active{
  	margin-left: -250px;
  	.custom-menu{
		margin-right: -50px;
  }
  }
  h1{
  	margin-bottom: 20px;
  	font-weight: 700;
  	font-size: 20px;
  	.logo{
  		display: block;
  		padding: 10px 30px;
  		background: $primary;
  	}
  }
  ul.components{
  	padding: 0;
  }
  ul{
    li{
    	font-size: 16px;
    	>ul{
    		margin-left: 10px;
    		li{
    			font-size: 14px;
    		}
    	}
    	a{
    		padding: 15px 30px;
		    display: block;
			color: rgba(255,255,255,.6);
			text-decoration: none;
		    // border-bottom: 1px solid rgba(255,255,255,.1);
		    &:hover{
		    	background: $primary;
		    	border-bottom: 1px solid $primary;
		    }
    	}
    	&.active{
    		> a{
    			background: transparent;
    			&:hover{
    				background: $primary;
			    	border-bottom: 1px solid $primary;
    			}
    		}
    	}
    }
  }
  

  .custom-menu{
		display: inline-block;
		position: absolute;
		top: 10px;
		right: 0;
		margin-right: -50px;
		
    }
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#sidebarCollapse{
	span{
	    display: none;
	}
}

#content {
  width: 100%;
  padding: 0 !important;
  min-height: 100vh;
  transition: all 0.3s;
}


.btn{
	&.btn-primary{
		background: $primary;
		border-color: $primary;
		&:hover, &:focus{
			background: $primary !important;
			border-color: $primary !important;
		}
	}
}

.footer{
	p{
		color: rgba(255,255,255,.5);
	}
}



.wrapper{

    overflow-x: hidden
} 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
